.grid-1 {
  width: 8.33333%;
}

.grid-2 {
  width: 16.66667%;
}

.grid-3 {
  width: 25%;
}

.grid-4 {
  width: 33.33333%;
}

.grid-5 {
  width: 41.66667%;
}

.grid-6 {
  width: 50%;
}

.grid-7 {
  width: 58.33333%;
}

.grid-8 {
  width: 66.66667%;
}

.grid-9 {
  width: 75%;
}

.grid-10 {
  width: 83.33333%;
}

.grid-11 {
  width: 91.66667%;
}

.grid-12 {
  width: 100%;
}

@media screen and (max-width: 767px) {
  .sections {
    display: none;
  }
  .dropdown-content {
    width: 100vw;
  }
}

@media screen and (min-width: 767px) {
  .menu {
    display: none;
  }
  .sections {
    position: absolute;
    right: 85px;
    left: 121.13px;
  }
  .account li {
    padding: 0px;
  }
  .dropdown-content {
    width: 35vw;
  }
}

i.material-icons {
  padding: 9px 0;
  margin: 0;
  width: 85px;
  font-size: 72px;
}

nav {
  height: 90px;
  position: fixed;
  width: 100%;
  background: #AEC6CF;
  display: inline-block;
}

nav ul::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

nav ul {
  overflow: auto;
  text-align: center;
  float: left;
  margin: 0;
  display: flex;
  padding: 0;
}

nav ul li:hover {
  background-color: #ffca95;
}

nav ul li {
  position: relative;
  display: inline-block;
}

nav ul li a {
  color: white;
}

nav ul li a p {
  margin: 0;
  padding: 33px 14px 26px 12px;
  font-size: 22px;
}

nav ul li a h6 {
  margin: 0;
  padding: 25px 12px;
  font-size: 32px;
}

.feeds {
  top: 90px;
  left: 0;
  height: 40px;
  background: #c2e6b9;
  display: inline-block;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.feeds ul {
  overflow: hidden;
  text-align: center;
  float: left;
  margin: 0;
  display: flex;
  padding: 0;
}

.feeds ul li:hover {
  background-color: #ffca95;
}

.feeds ul li {
  position: relative;
  display: inline-block;
}

.feeds ul li a {
  color: white;
}

.feeds ul li a p {
  margin: 0;
  padding: 10.5px 10px;
  font-size: 15px;
}

.dropdown-content {
  color: black;
  background: #cbabce;
  position: fixed;
  font-size: 30px;
  top: 90px;
  z-index: 2;
  display: none;
}

.dropdown-content div:hover {
  background-color: #ffca95;
}

.dropdown-content div > a > p {
  margin: 0;
  padding: 0;
}

.current {
  background-color: #ffe0e5;
}

.active {
  display: block;
}

.content {
  padding-top: 135px;
}

.article {
  display: flex;
  overflow: hidden;
}

.article .aText::-webkit-scrollbar {
  /* This is the magic bit */
  display: none;
}

.article .aText {
  overflow: auto;
  text-align: justify;
  padding: 0px 2% 0px 2%;
  margin-bottom: 0px;
}

.article .aText h3 {
  margin: 8px 0px;
}

.article .aText p {
  margin: 6px 0px;
}

.article .aScore {
  width: 15vw;
  text-align: center;
}

.article .aScore h4 {
  margin: 8px 0px;
  font-weight: lighter;
}

a, p {
  text-decoration: none;
  font-family: 'Quicksand', sans-serif;
}

body {
  margin: 0px;
  height: 100%;
}

.aImage > img {
  width: 100%;
  height: 100%;
}
